<footer class="footer">
    <div class="footer-container">
        <!-- Brand Name -->
        <div class="brand">
            <span>Effect Line</span>
        </div>

        <!-- Social Icons -->
        <div class="social-icons">
            <a href="https://www.facebook.com/effectline.georgia/" aria-label="Facebook">
                <i class="fa-brands fa-facebook-f"></i>
            </a>
            <a href="https://www.instagram.com/online.effect" aria-label="Instagram">
                <i class="fa-brands fa-instagram"></i>
            </a>
            <a href="https://www.tiktok.com/@effectline" aria-label="TikTok">
                <i class="fa-brands fa-tiktok"></i>
            </a>
        </div>

        <!-- Copyright -->
        <div class="footer-right">
            <span class="copyright">© 2024 EFFECT LINE. All Rights Reserved</span>
        </div>
    </div>
</footer>
