
    <header>
        <nav class="navbar">
            <div class="header-title">
                <img src="/icons/effectlogo.png" alt=""><a  id="logo-title" href="/home">Effect Line</a>
            </div>
    
            <div class="hamburger" id="hamburger">
                &#9776;
            </div>
    
            <ul class="nav-links" id="nav-links">
                <li><a href="/home" id="nav-home">მთავარი</a></li>
                <li><a href="/catalog" id="nav-catalog">კატალოგი</a></li>
                <li><a href="/contactus" id="nav-contact">კონტაქტი</a></li>
            </ul>
        </nav>
    
        <div id="userModal" class="modal">  
            <div class="modal-content" id="modal-content">
            </div>
        </div>
    </header>

<script src="/script/header.js"></script>


